{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="/asset/css/jumbotron-bg.css">
{% endblock %}


{% block body %}
	{% for message in app.flashes('redirect') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<div class="jumbotron text-center" id="homeJumbotron">
		<div class="container">
			<h1 id="titleHome">
				Codify
			</h1>
			<p id="sloganHome">
				Learn the programming basics.
			</p>
		</div>
	</div>
	<div class="container">
		<h2>
			Les dernieres Formations
		</h2>

		<div class="row-centered">
			{% for formation in formations %}
				{% include( 'formation/_formation.html.twig') %}
			{% endfor %}
		</div>

	</div>
{% endblock %}
