.sortable {
    font-family: 'Ubuntu';
    list-style-type: none;
    list-style-position: inside;
    margin: 0px 12px 8px 0px;
    width: 60%;
    padding: 2px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: gray;
    min-height: 100px;
    color: white;
    width: 100%;
}

pre {
    display: inline;
    margin: 0;
}
.hljs {
    padding: 0 !important;;
}

.upperRow{
    margin-bottom:0px !important;
    margin-top:2rem !important; 
}
.lowerRow{
    margin-top:0px !important; 
}

.sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1em;
    height: 30px;
    background-color: #f0f0f0;
}

.container {
    background-color: red;
}

.accordion {
    background-color: #c71d1d;
    color: white;
}

.avatar {
    position: relative;
    margin-top: 15px;
    z-index: 100;
  }

.avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(0,0,30,0.8);
  }

  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    font-size: 50px;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover,
  .rating > span:hover ~ span {
    color: transparent;
    cursor: pointer;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
     left: 0; 
     color: gold;
     cursor: pointer;
  }