<tr>
	<td colspan="3" class="accordion-body collapse" id="accordion{{i}}">
		<table>
			<tr>
				<th>Catégorie</th>
				<th>Nb. Tentatives
				</th>
				<th>Dernier essai</th>
			</tr>
			<tr>
				<td>{{resolution.exercice.category.title}}</td>
				<td>{{resolution.tentatives}}</td>
				<td>{{resolution.getLastTryAt() | date('d/m/Y à H:i')}}</td>
			</tr>
		</table>
	</td>
</tr>
