<div class="card mb-4 text-center">
	<div class="avatar">
        <img class="rounded-circle" style="width: 100px; height: 100px" src="https://sbcf.fr/wp-content/uploads/2018/03/sbcf-default-avatar.png" alt={{ conversation.user.username}} />
    </div>
	<div class="card-body">
		<h5 class="text-center">
			{{ conversation.user.username | capitalize }}
		</h5>
		<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" onclick="selectConv({{ conversation.id }});" style="background-color:#5B7f95!important;color:#FFF!important">Contact</button>
	</div>
</div>
