{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<h2>
			Créer un nouvel exercice
		</h2>
		{{ include ('enseignant/exercice/_form.html.twig',{form:form,button:'Créer'})}}
	</div>


{% endblock %}

{# To show the selected file in the FileType Field #}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
	<script>
		$(document).ready(function () {
bsCustomFileInput.init()
})
	</script>

{% endblock %}
